header{
	/* background-image: url("https://placeholdit.imgix.net/~text?txtsize=133&txt=1600%C3%97770&w=1600&h=770"); */
	background-image: url('img/luis_llerena_unsplash.jpg');
	height: 100%;
	display: block;
	text-align: center;
	padding-top: 16%;
    padding-bottom: 15%
}
header div img{
	width: 100%;
	height: 100%;
}

.parallax{
	position: relative;
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
}

.title{
	text-align: center;
}

p{
	font-size: 17px;
}

.row{
	margin-top: 50px;
	margin-bottom: 25px;
}

form{

}

#logo{
    max-width: 100%;
    height: auto;
    width: auto;
}

.form-grouop{
    
}

button{
    margin-left: 180px;
}

footer {
	margin-top: 48px;
	margin-bottom: 24px;
	text-align: center;
}

.spacing {
	margin-left: 64px;
}
